[user]
    name = Andrzej Skupien
{{- if ne .chezmoi.hostname "MB-928298" }}
    email = kendriu@gmail.com
{{- end }}
{{- if eq .chezmoi.hostname "MB-928298" }}
    email = andrzej.skupien@vastdata.com
{{- end }}

[core]
    pager=bat --style=plain
    excludesFile = ~/.gitignore

[push]
    autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only
[include]
    path=~/.cache/delta/themes/catppuccin.gitconfig

[delta]
    features = catppuccin-macchiato
    navigate = true
    dark = true
    side-by-side = true

[merge]
    conflictstyle = zdiff3

[color]
    ui = auto

