#!/usr/bin/env fish

# bat hash: {{ output "curl" "-sL" "https://raw.githubusercontent.com/0xTadash1/bat-into-tokyonight/refs/heads/main/bat-into-tokyonight" | sha256sum }}

echo "Applying bat theme"
curl -sL https://raw.githubusercontent.com/0xTadash1/bat-into-tokyonight/refs/heads/main/bat-into-tokyonight | bash
