#!/bin/bash

arch -arm64 brew bundle --no-lock --file=/dev/stdin <<EOF
    brew "chezmoi"
    brew "gcc"
    brew "git"
    brew "ripgrep"
    brew "git-delta"
    brew "luarocks"
    brew "npm"
    brew "uv"
    brew "neovim"
    brew "pygments"
    brew "zsh-syntax-highlighting"
    brew "zsh-completions"
    cask "brave-browser"
    cask "chatgpt"
    cask "flycut"
    cask "font-jetbrains-mono-nerd-font"
    cask "iterm2"
    cask "jetbrains-toolbox"
    cask "keepingyouawake"
    cask "wezterm"
    {{- if eq .chezmoi.hostname "MB-928298" }}
        brew "awscli"
        brew "net-snmp"
        brew "portaudio"
        brew "postgresql@14"
    {{- end }}
EOF
