#!/usr/bin/env fish

# Define the Brewfile content
set brewfile_content "
brew '7zip'
brew 'chezmoi'
brew 'cmake'
brew 'eza'
brew 'fd'
brew 'ffmpeg'
brew 'fish'
brew 'fish-lsp'
brew 'fzf'
brew 'gawk'
brew 'gcc'
brew 'git'
brew 'git-delta'
brew 'helix'
brew 'imagemagick'
brew 'jq'
brew 'just'
brew 'lazygit'
brew 'luarocks'
brew 'ninja'
brew 'npm'
brew 'nushell'
brew 'ollama'
brew 'poppler'
brew 'rustup'
brew 'starship'
brew 'terminal-notifier'
brew 'tree-sitter-cli'
brew 'usage'
brew 'uv'
brew 'wget'
brew 'xclip'
brew 'yazi'
brew 'yq'
cask 'chatgpt'
cask 'flycut'
cask 'font-fira-code-nerd-font'
cask 'font-jetbrains-mono-nerd-font'
cask 'keepingyouawake'
cask 'kitty'
cask 'obsidian'
cask 'vivaldi'
"

# Conditional additions based on hostname
{{- if eq .chezmoi.hostname "MB-928298" }}
set brewfile_content "$brewfile_content
brew 'awscli'
brew 'awslogs'
brew 'fswatch'
brew 'jira-cli'
brew 'lnav'
brew 'net-snmp'
brew 'oci-cli'
brew 'podman'
brew 'portaudio'
brew 'rainfrog'
brew 'sentry-cli'
cask 'copilot-cli'
cask 'microsoft-azure-storage-explorer'
"
{{- else}}
set brewfile_content "$brewfile_content
cask 'google-chrome'
"
{{- end }}

echo $brewfile_content | brew bundle cleanup --force --file=/dev/stdin
echo $brewfile_content | arch -arm64 brew bundle --upgrade --file=/dev/stdin
brew cleanup --scrub
