#!/bin/bash

arch -arm64 brew bundle --file=/dev/stdin <<EOF
    brew "bat"
    brew "bat-extras"
    brew "chezmoi"
    brew "eza"
    brew "fish"
    brew "fish-lsp"
    brew "gcc"
    brew "git"
    brew "git-delta"
    brew "just"
    brew "luarocks"
    brew "neovim"
    brew "npm"
    brew "ripgrep"
    brew "rustup"
    brew "starship"
    brew "terminal-notifier"
    brew "uv"
    cask "chatgpt"
    cask "flycut"
    cask "font-jetbrains-mono-nerd-font"
    cask "iterm2"
    cask "jetbrains-toolbox"
    cask "keepingyouawake"
    cask "neovide"
    cask "obsidian"
    cask "vivaldi"
    cask "wezterm"
    {{- if eq .chezmoi.hostname "MB-928298" }}
        brew "awscli"
        brew "fswatch"
        brew "net-snmp"
        brew "portaudio"
        brew "postgresql@14"
        cask "docker"
    {{- end }}
EOF
