set -gx LANG us_US.utf-8
set fish_greeting

if not functions -q fundle; eval (curl -sfL https://git.io/fundle-install); end
fundle plugin 'jethrokuan/z'
fundle plugin 'jorgebucaran/autopair.fish'
fundle plugin 'franciscolourenco/done'
fundle init

fish_add_path /opt/homebrew/opt/rustup/bin

eval "$(/opt/homebrew/bin/brew shellenv)"


# bat
set -gx BAT_THEME "Monokai Extended"
set -gx PAGER "bat"
set -gx MANPAGER "bat"
function cat --wraps bat
    bat $argv
end
eval (batpipe)

# nvim
set -gx EDITOR nvim
abbr v nvim
abbr vim nvim
function cv
    cd ~/.config/nvim
    set fish_trace 1
    nvim
    chezmoi add -v ~/.config/nvim
end

# wezterm
abbr cw chezmoi edit -va ~/.config/wezterm/wezterm.lua

# fish
function cf
    set fish_trace 1
    chezmoi edit -va ~/.config/fish/config.fish
    fish
end
abbr rz fish

# eza 
abbr l ls
function ls --wraps eza
    eza --icons=auto --group-directories-first $argv
end

# chezmoi
abbr ch chezmoi
abbr chc cd ~/.local/share/chezmoi/
abbr cha chezmoi apply -v
abbr chu chezmoi update -v

function c-sync
    set fish_trace 1
    cd ~/.local/share/chezmoi/
    git add .
    git commit -m"Sync"
    git push
end

# brew
function cb -d "Change brew file & install"
    set fish_trace 1
    nvim ~/.local/share/chezmoi/run_onchange_install-packages.sh.tmpl 
    chezmoi apply -v

end

# git
abbr gst git status
abbr gl git pull
abbr glog git log --oneline --decorate --graph
abbr gcan! git commit --verbose --all --no-edit --amend

# ssh
abbr cssh chezmoi edit -va ~/.ssh/config

# starship
##starship init fish | source

# misc
abbr a source .venv/bin/activate.fish


{{- if eq .chezmoi.hostname "MB-928298" }}
    fish_add_path /Users/andrzej.skupien/sources/infra/user-scripts
    set -gx USE_QPIPES yes
    abbr c ./comet.sh -R DEVVM:orion 
    abbr gp git prop

    function r --wraps rsync
        fswatch --recursive --one-per-batch  $argv[1] | while read line
            rsync -ah --stats --delete-after \
                --filter=":- $argv[1]/.gitignore" \
                --filter=':- ~/.gitignore' \
                $argv
            set_color yellow
            date
            set_color normal
            terminal-notifier -title "Orion" -message "Synced"  
        end
    end
{{- end }}

