export LANG=us_US.utf-8

if not functions -q fundle; eval (curl -sfL https://git.io/fundle-install); end
fundle plugin 'jethrokuan/z'
fundle plugin 'jorgebucaran/autopair.fish'
fundle plugin 'franciscolourenco/done'
fundle init

fish_add_path /opt/homebrew/opt/rustup/bin

eval "$(/opt/homebrew/bin/brew shellenv)"


# bat
export BAT_THEME="Monokai Extended"
export PAGER="bat"
export MANPAGER="bat"
function cat --wraps bat
    bat $argv
end
eval (batpipe)

# nvim
export EDITOR=nvim
abbr v nvim
abbr vim nvim
function cv
    cd ~/.config/nvim
    set fish_trace 1
    nvim
    chezmoi add -v ~/.config/nvim
end

# fish
function cf
    set fish_trace 1
    chezmoi edit -va ~/.config/fish/config.fish
    fish
end
abbr rz fish

# eza 
abbr l ls
function ls --wraps eza
    eza --icons=auto --group-directories-first $argv
end

# chezmoi
abbr ch chezmoi
abbr chc cd ~/.local/share/chezmoi/
abbr cha chezmoi apply -v
abbr chz chezmoi update -v

function c-sync
    set fish_trace 1
    cd ~/.local/share/chezmoi/
    git add .
    git commit -m"Sync"
    git push
end

# brew
function cb -d "Change brew file & install"
    set fish_trace 1
    nvim ~/.local/share/chezmoi/run_onchange_install-packages.sh.tmpl 
    chezmoi apply -v

end

# git
abbr gst git status
abbr gl git pull

test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish

{{- if eq .chezmoi.hostname "MB-928298" }}
    fish_add_path /Users/andrzej.skupien/sources/infra/user-scripts
    abbr c ./comet.sh -R DEVVM:orion 
    abbr gp git prop
{{- end }}

